
/* INDEX ARCHIVE VIEW FOR KIVI ITEMS */
.kivi-index-archive {
  width: 100%;
  max-width: 986px;
  margin: 0 auto;
}

.kivi-item-filters {
  background: #e7e7e7;
  padding: 16px;
  margin-bottom: 1em;
}

.kivi-filter-cell {
  display: inline-block;
  width: 20%;
  padding: 8px;
}

.kivi-filter-cell label,
.kivi-filter-cell select,
.kivi-filter-cell input {
  width: 100%;
}

.kivi-filter-cell-50 {
  width: 48%;
}

.kivi-filter-cell-15 {
  width: 14%;
}

.kivi-index-item {
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  margin-bottom: 32px;
}

.kivi-item {
  display: inline-block;
  padding: 10px;
  margin: 8px 16px;
  vertical-align: top;
  position: relative;
}

.kivi-item-img {
  width: 100%;
}
.kivi-item-img-wrapper img{
	width:100%;
	height: auto;
}

.kivi-item-body {
  padding-top: 8px;
  box-sizing: border-box;
}
.kivi-item-body h2 {
  margin-top: 8px;
  font-size: 1em;
  padding-top: 8px;
  margin-bottom: 1rem;
}

input[type="submit"].button-kivi {
  display: block;
  padding: 0;
  width: 82px;
}

.kivi-single-item-title {
  font-size: 2em;
}

.slick-for-image-wrapper {
  position: relative;
  text-align: center;
}

.slick-for-image-wrapper.slick-current {
  background: #f9f9f9;
}

.slick-for-image.current {
  height: auto;
  max-height: 800px;
  display: inline-block;
  text-align: center;
}

.slick-slide,
.slick-slide img {
  display: inline-block;
  text-align: center;
}


.slick-carousel-image {
  text-align: center;
  max-height: 100px;
}

.slick-arrow {
  right: 0;
  display: block;
  background: rgba(0,0,0,0.5);
  border-radius: 50%;
  height: 48px;
  width: 48px;
  z-index: 100;
}

.slick-arrow:focus,
.slick-arrow:active {
  background: rgba(0,0,0,5);
}

.slick-arrow:hover {
  background: rgba(0,0,0,1);
}

.slick-arrow::before {
  opacity: 1;
}

.slick-prev {
  left: 0;
}

.kivi-item-cell, .kivi-item-table th {
  border: 0;
  vertical-align: top;
	text-align: left;
}

.kivi-item-cell.kivi-item-cell-header {
  width: 240px;
  text-align: left;
  word-break: break-word;
}

.kivi-item-cell-value {
  word-break: break-word;
}

@media (max-width: 800px) {
  .kivi-item-cell {
    display: block;
  }

  .kivi-item-cell-value {
    padding: 0 8px 8px 8px;
  }

  .kivi-item-cell.kivi-item-cell-header {
    padding-bottom: 0;
    width: 100%;
  }
}


.kivi-item-cell-value-wrap {
  word-break: break-all;
}

.kivi-item-cell-value ul {
  list-style: none;
  margin: 0 0 0 0;
  padding-left: 0;
}

#map {
  height: 0;
  padding-top: 62.5%;
  position: relative;
}

.kivi-item-link {
  display: flex;
  flex-wrap: wrap;
}

.kivi-item-link:focus {
  outline: 1px dotted;
}

.kivi-item-image {
  flex: 1 300px;
  max-height: 220px;
}
.kivi-item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.kivi-item-body {
  flex: 5 1 400px;
  padding: 16px;
}

.kivi-item-details {
  display: flex;
}

.kivi-item-details div {
  flex: 0 1 200px;
}

.bid-wanted .kivi-item-details__price::after {
  content: "tarjouskauppa";
  display: block;
}

.kivi-index-paginator {
  max-width: 600px;
  display: flex;
  text-align: center;
  margin: 2rem auto;
  justify-content: center;
}

.kivi-index-paginator .page-numbers,
.kivi-index-paginator .dots
.kivi-index-paginator .current  {
  height: 100%;
  flex: 1;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
}

.kivi-index-paginator .page-numbers {
  max-width: 60px;
}

.kivi-index-paginator .prev,
.kivi-index-paginator .next {
  padding-left: 10px;
  padding-right: 10px;
  max-width: 120px;
}

a.page-numbers:hover {
  background-color: #eee;
}


/* Kivi-single-template */
.kivi-header-wrapper {
  display: block;
  margin-bottom: 8px;
}
.kivi-single-item-body-header {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #e6e9ee;
}

.kivi-single-item-body {
  width: 100%;
  max-width: 960px;
  margin: 16px auto;
  padding: 0 32px;
  font-size: 16px;
}

.kivi-single-item-structure {
  margin-bottom: 0;
}

.kivi-single-item-header {
  width: 100%;
  max-width: 960px;
  margin: 16px auto;
  padding: 32px;
  box-sizing: border-box;
}

.kivi-single-item-body-header button::after {
  content: "";
  padding: 0 5px;
  display: inline-block;
}
.kivi-single-item-body-header button::before {
  content: "–";
  padding: 0 5px;
  display: inline-block;
  min-width: 28px;
  text-align: center;
}

.kivi-single-item-body-header .is-hidden::before {
  content: "+";
  padding: 0 5px;
  display: inline-block;
  min-width: 28px;
  text-align: center;
}

.kivi-single-item-body-header .kivi-toggle {
  all: inherit;
  border: none;
}

.kivi-single-item-body-header .kivi-toggle:focus {
  outline-style: dotted;
  outline-width: 1px;
}

.kivi-item-table {
  border: 0;
  height: auto;
  max-height: 2000px;
  display: block;
  overflow: hidden;
  opacity: 1;
  text-align: left;
  transition: all .3s;
}
.kivi-item-table tr {
  border: none;
}

div.is-hidden {
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  display: block;
  margin: 0;
  transition: all .3s;
 }

 /* Kivi-single-template: slick slider */
 .kivi-img-container {
    max-width: 1240px;
    margin: auto;
 }

 .slick-for-image.current {
  height: auto;
 }

 .slick-carousel .slick-slide.slick-current.slick-active img {
  box-shadow:inset 0px 0px 0px 2px #363636;
}

.slick-next:before {
  content: url(../chevron_right.svg);
}

.slick-prev:before {
  content: url(../chevron_left.svg);
}

.slick-for .slick-slide.slick-current.slick-active img {
  max-height: var(--img-height);
  width: auto;
}

.kivi-image-caption{
	display: block;
    position: absolute;
	bottom: 15px;
	margin: 0 30%;
    width: 40%;
	font-size: 15px;
	line-height: 17px;
	font-weight: bold;
	color: #000;
	text-transform: uppercase;
	background-color: rgba(255,255,255,0.5);
    padding: 5px 0;
}

/* Kivi-single-template: real estate agent image */
.kivi-item-table.kivi-contact {
  display: flex;
  flex-wrap: wrap;
}

.kivi-contact tbody {
  margin-right: 6rem;
}

.kivi-iv-person th {
  border: none;
}

.kivi-iv-person-container {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
}

.kivi-agent-image {
  border-radius: 40px;
  border: 4px solid rgb(255, 255, 255);
  box-shadow: rgb(10 10 10 ) 0px 0px 4px 0px;
  overflow: hidden;
  width: 80px;
  height: 80px;
  text-align: center;
  object-fit: cover;
  display: flex;
}

.kivi-agent-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: top;
}

#Vesimaksu li {
    display: inline-block;
    padding-right: 3px;
}

/*Shortcode spesific styles*/
.kivi-item-list-item {
  border: 1px solid #f2f2f2;
  padding: 30px;
  margin-top: 1em;
}
.kivi-item-list-item:first-child {
  border-top: 1px solid #f2f2f2;
}
.kivi-item-list-body {
  display: inline-block;
  vertical-align: middle;
}
.kivi-item-list-heading {
  margin: 0;
  padding: 0;
  font-size: 1em;
}
.kivi-item-list-link {
  border: 0;
}
.kivi-item-list-link:hover {
  color: #222;
}
.kivi-item-list-item-image-wrapper {
  width: 160px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
  border: 1px solid #f2f2f2;
  border-bottom: 2px solid #f2f2f2;
}
.kivi-item-list-item-image-wrapper:hover {
  border: 1px solid #e0e0e0;
  border-bottom: 2px solid #e0e0e0;
}
.kivi-item-list-item-image {
  width: 100%;
  border: 0;
}
.kivi-item-list-item-meta {
  font-style: italic;
  font-size: 14px;
  margin-bottom: 0;
}


.info-row-COMPANY_NAME{ display: none; }
.info-row-SUPPLIER_NAME{ display: none; }
